<div class="menu">
    <ul class="items">
        <li><a class="item nav_home showing" item="home">home</a></li>
        <li><a class="item nav_plats" item="plats">maps</a></li>
        <li><a class="item nav_tabs"  item="tabs">tabs</a></li>
        <li><a class="item nav_words" item="words">words</a></li>
    </ul>
</div>

<div class="words">
    <ul class="items">
        <li class="item find"><input type="text" placeholder="WORD" /></li>
        <li class="item add"><a>+</a></li>
    </ul>
</div>

<div class="plats">
    <ul class="items keys bases">
        <% for(var key in keys) { %>
        <li><a class="item key" data-key="<%= keys[key] %>"><%= keys[key] %></a></li>
        <% } %>
        <li><a class="item next">+</a></li>
    </ul>
    <ul class="items keys prev">
        <% for(var key in keys) { %>
        <li><a class="item key" data-key="<%= keys[key] %>b"><%= keys[key] %>♭</a></li>
        <% } %>
        <li><a class="item next">+</a></li>
    </ul>
    <ul class="items keys sharps">
        <% for(var key in keys) { %>
        <li><a class="item key" data-key="<%= keys[key] %>#"><%= keys[key] %>♯</a></li>
        <% } %>
        <li><a class="item next">+</a></li>
    </ul>
</div>

<div class="tabs">
    <ul class="items">
        <li class="item find"><input type="text" placeholder="CHORD" /></li>
        <li class="item add"><a>+</a></li>
    </ul>
</div>
