<div class="tab" chord="<%= chord %>">
    <svg viewBox="0 0 100 50" version="1.1">

        <!-- Buttons -->
        <image button="remove" x="77" y="0" width="15" height="15" class="remove" xlink:href="../images/delete.svg"/>
        <image button="handle" x="8"  y="0" width="15" height="15" class="move"   xlink:href="../images/handle.svg"/>

        <!-- Chord -->
        <text x="50" y="10" class="chord"><%= chord %></text>

        <!-- Frets -->
        <% _.each(frets, function(fret, index){ %>
            <line x1="<%= fret.x %>" y1="15" x2="<%= fret.x %>" y2="42" class="fret"></line>
            <text x="<%= fret.x + 4 %>" y="42" class="fret-number"><%= fret.number %></text>
        <% }); %>

        <!-- Strings -->
        <% _.each(strings, function(string, index){ %>
            <line x1="12" y1="<%= string.y %>" x2="88" y2="<%= string.y %>" class="string <%= string.state %>"></line>
        <% }); %>

        <!-- Fingers -->
        <% _.each(fingers, function(finger, index){ %>
            <circle cx="<%= finger.x %>" cy="<%= finger.y %>" r="1.7" class="finger" />
        <% }); %>

    </svg>
</div>

